<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcode.notes">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".notes.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.extra.ExploreActivity"
            android:label="@string/title_activity_explore" />
        <activity
            android:name=".activities.extra.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.compose.ComposeNoteActivity"
            android:label="@string/title_activity_compose_note" />
        <activity
            android:name=".activities.compose.list.ComposeListActivity"
            android:label="@string/title_activity_compose_list" />
        <activity
            android:name=".activities.display.note.DisplayNoteNormalActivity"
            android:label="@string/title_activity_display_note" />
        <activity
            android:name=".activities.display.note.DisplayNoteBinActivity"
            android:label="@string/title_activity_display_note" />
        <activity
            android:name=".activities.display.list.DisplayListNormalActivity"
            android:label="@string/title_activity_display_list" />
        <activity
            android:name=".activities.display.list.DisplayListBinActivity"
            android:label="@string/title_activity_display_list" />
    </application>

</manifest>
